* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f2027;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 500px;
    background: rgba(255,255,255,0.1);
    padding: 24px;
    border-radius: 16px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    resize: none;
    margin-bottom: 12px;
}

button {
    width: 48%;
    padding: 12px;
    margin: 6px 1%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:nth-child(2) {
    background: #00c6ff;
}

button:nth-child(3) {
    background: #00ff9d;
}

.display {
    margin-top: 20px;
    text-align: left;
}

.text-line, .morse-line {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.letter, .morse {
    padding: 6px 8px;
    border-radius: 6px;
    background: rgba(255,255,255,0.15);
}

.active {
      background: #00ff9d;;
    color: black;
    font-weight: bold;
}

.symbol-active {
 background: yellow;
    color: white;
}

.note {
    font-size: 0.75rem;
    opacity: 0.7;
    margin-top: 12px;
}
